* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    min-height: 50vh;
}

.changelog-container {
    background-color: rgba(0, 0, 0, 0.894);
    box-shadow: 3px 3px 8px black;
    border-radius: 20px;
    margin-top: 100px;
    max-width: 1000px;
    width: 100%;
    text-align: center;
}

.changelog-container h1 {
    font-size: 48px;
    font-weight: 100;
    margin-bottom: 20px; margin-top: 30px;
}

.changelog-container p {
    color: lightgray;
    font-size: 24px;
    margin-bottom: 100px;
}

.timeline {
    position: relative;
    margin: 20px 0;
}

.timeline::before {
    content: " ";
    position: absolute;
    background-color: white;
    width: 2px;
    top: -50px; bottom: -50px;
    left: 35%;
}

.timeline-item {
    position: relative;
    margin-bottom: 60px; margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.timeline-date {
    font-size: 16px;
    padding-top: 3px;
    color: lightgray;
    position: relative;
    width: 50%;
    text-align: center;
    left: -97px;
}

.timeline-content{
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    width: 50%;
    margin-left: -150px;
}

.timeline-content::before {
    content: " ";
    position: absolute;
    height: 15px; width: 15px;
    margin-top: 3.8px;
    left: 34.4%;
    background-color: white;
    border-radius: 50%;
}

.button {
    border: none;
    font-size: 20px;
    height: 50px;
    width: 270px;
    background-color: rgba(158, 65, 158, 0.921);
    margin-bottom: 15px; margin-top: 30px;
    border-radius: 10px;
}

.button:hover {
    background-color: rgba(158, 65, 158, 0.682);
    cursor: pointer;
}

.footer {
    font-size: 12px;
    font-style: italic;
    color: rgba(211, 211, 211, 0.705);
    margin-bottom: 30px;
}

.footer a {
    color: purple;
    text-decoration: none;
}
